#transaction_page {
    #Table-Container > table > thead {
        background-color: $black;
        color: $diamond-light-blue;
        
        .table-heading {
            padding: 50px 80px;
        
        }
    }
    
    .add_transaction_button {
        display: flex;
        text-align: center;
        min-width: 120px;
        color: $diamond-light-blue;
        font-size: 19px;
        letter-spacing: 2px;
        border: 1px $diamond-light-blue solid;
        border-radius: 4px;
        padding: 5px 10px;
    
        &:hover {
            border: 1px $black solid;
            background: $black;
            color: $diamond-light-blue;
        }
    
       
    }
}

