#TXN-PAGE {
    height: 100%;
    display: flex;
    flex-direction: column;

    #header-section {
        width: 100%;
        font-size: 2.5em;
        text-align: center;
    }

    #filter-add-txn-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .select-wrapper{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            z-index:20;

            .category, .supplier {
                min-width: 175px;
                max-width: auto;
            }


        }

        .button-wrapper {
            button {
                background: inherit;
                border: 1px solid $secondary;
                padding: 10px 20px;
                border-radius: 5px;
                color: $secondary;

                &:hover{
                    background-color: $secondary;
                    color: $accent;

                }
            }
        }

    }

    #table-container {
        margin-top: auto;
        width: inherit;
        height: 81vh;        // MUST be tall enough to scroll
        overflow-y: auto;    // SCROLL HERE ✅
        
        #txn-table {
            width: 100%;
            height: inherit;

            border-collapse: collapse;
            margin: 0;

            font-size: 0.9em;
            min-width: 400px;
            border: 1px solid $secondary;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

            thead > tr {
                .day {
                    width: 5%;
                }

                .time {
                    width: 7%;
                }

                .details {
                    width: 35%;
                }

                // .category {
                //     width: 20%;
                // }

                // .supplier {
                //     width: 20%;
                // }
            }

            thead th {
                position: sticky;
                background-color: $secondary;
                top: 0;
                z-index: 5;
            }

            thead tr {
                background-color: $secondary;
                color: $accent;
                text-align: left;
            }

            th, td {
                padding: 5px 15px;
            }

            tbody tr {
                border-bottom: 1px solid #dddddd;
            }

            tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;

            }

            tbody tr:last-of-type {
                border-bottom: 2px solid $accent;
            }

            .pill {
                text-align: center;

               p { 
                    text-align: center;
                    border-radius: 16px;
                    padding: 3px 10px;

                }
            }

            .credit-pill {
                p {
                    background-color: #C8E6C9; 
                    color: #006400; 
                }

            }

            .debit-pill {
                p {
                    background-color: #FFCDD2; 
                    color: #8B0000; 
                }

            }
        }
    }
}