@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: $background;
}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 225px;
    padding: 5px 1em;
    background-color: $background;
    border-right: 1px solid var(--line-clr);
    font-size: .9em;
}

#sidebar ul {
    list-style: none;
}

#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    // margin-bottom: 2px;

    
}
#sidebar ul li.active a{
    color: $accent;

    svg {
        fill: $accent
    }
}

#sidebar a, #sidebar .dropdown-btn, #sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: $accent;
    display: flex;
    align-items: center;
    gap: 1em; // Distance between icons and text

}

.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

#sidebar svg {
    flex-shrink: 0;
    fill: $accent;
}

#sidebar a span, #sidebar .dropdown-btn span {
    flex-grow: 1;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover {
    background-color: var(--hover-clr);
}

#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    > div {
        overflow: hidden;
    }
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

.dropdown-btn svg {
    transition: 200ms ease;
}
.rotate svg:last-child{
    rotate: 180deg;
}

#sidebar .sub-menu a {
    padding-left: 2em;
}

.logo {
    width: 100%;
    
    h1 {
        margin-right: auto;
        font-weight: 200;
        font-size: 2em;
        color: $diamond-light-blue;
    }
}

#toggle-btn {
    margin-right: auto;
    padding: 1rem;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg {
        transition: rotate 150ms ease;
    }
}
