.debtor{
    #Table-Container {
        margin: 20px;

        .action-btn {
            
            border-radius: 4px;
            padding: 5px 10px;

            
        }

        .view-txn-btn {
            background: $diamond-light-blue;
            color: $black;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                color: $diamond-light-blue;
                background: $black;
            }
           


        }

        .edit-debtor-btn {
            background: #2b9348;
            color: white;

            &:hover {
                color: #2b9348;
                background: black;
            }

        }
    }
}
