.header {
    width: 100%;
    padding: 20px;
    background: $black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
        letter-spacing: 2px;
        font-size: 37.5px;
        color: $diamond-light-blue;
    }

    .left{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: yellow;
        
    }
}