// @import url("@/app/styles/variables.module.scss");

.add_transaction_modal {
    // height: 100vh;
    // width: 100%;

    // align-items: center;
    // justify-content: center;

    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    // width: 300px;
    // background: red;
        // width: 300px;

    }
    .content {
}