#sand-box-main {
    height: 80vh;
    width: 100%;

    #table-section {
        margin: 50px;
        display: flex;
        justify-content: center;

        .table-wrapper {
            height: 60vh;
            overflow-y: auto;
            overflow-x: auto;
            width: 100%;

            table {
                border-collapse: collapse;
                // table-layout: fixed;   /* FIXES WIDTH ISSUE */
                width: 100%;           /* 'full' is invalid */
                height: 40vh;
                table-layout: auto;

                thead {
                    .th-total, .th-name {
                        background: orange;
                        width: 400px;
                    }

                    .month-th-row{
                        .top-left-bloc {
                            background-color: red;
                        }
                    }
                }

                /* Base header */
                th {
                    color: white;
                    text-align: center;
                    padding: 8px;
                    position: sticky;
                    top: 0;
                    background-color: $black;
                    border: 1px solid #072053;
                    z-index: 10;   // important, sits above other sticky items
                }

                /* Base cell styling */
                th, td {
                    text-align: center;
                    padding: 8px;
                    border: 1px solid #e5e7eb;
                }

                /* FIRST COLUMN (header + cells) */
                th:first-child,
                td:first-child {
                    position: sticky;
                    left: 0;
                    width: 2500px;
                    min-width: 150px;
                    max-width: 500px;
                    background-color: magenta;
                    z-index: 15;
                    border: 2px solid #072053 !important;
                }

                /* LAST COLUMN (header + cells) */
                th:nth-last-child(3),
                td:nth-last-child(3),
                th:nth-last-child(2),
                td:nth-last-child(2),
                th:last-child,
                td:last-child {
                    position: sticky;
                    right: 0;
                    background-color: orange;
                    z-index: 15;
                }

                /* HEADER CELL + STICKY COLUMN OVERLAP FIX */
                thead th:first-child {
                    z-index: 20; // highest so header-left stays on top
                }

                thead th:last-child {
                    z-index: 20; // highest so header-right stays on top
                }
            } // Table
        }// table-wrapper
    }// table-section
}
