.scrollable-table {
    scroll-snap-type: y mandatory;
}

.edit-content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    width: 100%;
    border-radius: 5px 5px 0 0; //Y Top left and top right to be rounded
    overflow: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);

    thead tr {
        background-color: #009873;
        color: white;
        text-align: left;
        font-weight: bold;
    }

    th {
        background-color: #009873;
        position: sticky;
        top: 0;

    }

    th, td {
        padding: 12px 15px;
    }

    tbody tr {
        border-bottom: 1px solid #dddddd;
        // scroll-snap-align: start;
    }

    tbody tr:nth-of-type(even){
        background-color: #f3f3f3;
    }

    tbody tr:last-of-type {
        border-bottom: 3px solid #009873;
    }

}