html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* <- THIS is the real scroll lock */
}

.layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 225px 1fr;
}

.sidebar {
    width: inherit;
    min-width: inherit;
}

.content {
    padding: 20px;
}